<% include ./vendor/css.html %>
<style>
  .title {
    float: right;
  }
  .title a {
    font-size: 3em;
  }

  .toc ul {
    list-style-type: none;
    float: left;
  }
  .toc li {
    overflow: hidden;
    margin: 2px;
    background-color: #efefef;
  }
  .toc a {
    font-size: 1.5em;
    text-decoration: none;
  }

  section {
    overflow-x: scroll;
  }

  .mini-toc {
    width: 350px;
    float: left;
    margin-right: 10px;
  }

  .actions {
    float: left;
    max-width: 960px;
  }

  article {
    margin-bottom: 10px;
    padding: 50px;
    background-color: #fefefe;
    border: 1px solid grey;
    border-radius: 5px;
  }
  .action {
    
  }
  .action .method {
    font-size: 2em;
  }
  .action .url {
    font-size: 1.5em;
  }
  
  #topBtn {
    position: fixed;
    right: 150px;
    bottom: 50px;
  }
  .clear {
    clear: both;
  }
  .is_stuck_above_all {
    z-index: 1000;
  }
</style>